<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body onload="init()">
    <h1><%= title %></h1>
    <p><%= msg %></a>
    <p><%= cookie %></p>
    <form id="form1" name="form1" method="post" action="/helo">
        <input type="text" id="input1" name="input1"
            value="<%= input %>">
        <input type="submit" value="click">
    </form>
</body>
</html>
