<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<center>
    <h1><%= title %></h1>
	<p><%= msg %></p><br>

	<br><br>
	<a href="/logout">ログアウト</a>
</center>
</body>
</html> 
