<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
	<p><%= msg %></p><br>
    <form method="post" action="/regi">
       名前: <input type="text" name="name"><br>
		パスワード:<input type="text" name="passwd"><br>
        <input type="submit" name="submit" value="click">
    </form><br><br>
	
	<a href="/">戻る</a>
</body>
</html> 
